
机器学习_周志华.pdf
概率论与数理统计教程(第2版)_茆诗松(picture).pdf
概率论与数理统计教程(第2版)_茆诗松(text).pdf
统计学方法与数据分析引论(上下)_R.L.Ott.pdf
高级计量经济学及Stata应用第2版_陈强.pdf
.DS_Store
Linear and Generalized Linear Models/.idea/
Mathematics for Statisticians/CalculusVolume1.pdf
Mathematics for Statisticians/CalculusVolume2.pdf
Mathematics for Statisticians/CalculusVolume3.pdf
python code/.idea/
Statistical Computing with R/.idea/
Statistical Computing with R/.Rproj.user/
Statistics and Probability/.idea/
Statistics and Probability/Mathematical statistics and dsata analysys - John A Rice.pdf
Statistics and Probability/Statistics.pdf
Statistics and Probability/A Modern Introduction to Probability and Statistics.pdf
Linear Algebra/.idea/
Linear Algebra/华章数学译丛64线性代数及其应用.pdf
Linear and Generalized Linear Models/Extending the Linear Model with R_Julian J. Faraway.pdf
Linear and Generalized Linear Models/Practical Regression and Anova using R_Julian J. Faraway.pdf
.Rproj.user
R exam/
